@{
    ViewBag.Title = "Festivales";
}

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="https://madcoolfestival.es/" class="thumbnail">
            <img src="~/img/festival/MadCool.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="https://www.resurrectionfest.es/" class="thumbnail">
            <img src="~/img/festival/ResurrectionFest.png" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="https://www.bilbaobbklive.com/es/" class="thumbnail">
            <img src="~/img/festival/BBKLive.jpg" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="https://www.wacken.com/" class="thumbnail">
            <img src="~/img/festival/woa.jpg" alt="...">
        </a>
    </div>
</div>
